.header{
    background-color: var(--bg-color);
    color: var(--font-50-color);
    font-size: var(--font-size--title);
    padding: 20px 30px;
    font-weight: bold;
    box-shadow: var(--box-shadow);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon{
    background-color: var(--bg-60-color);
    border-radius: 5px;
    fill: var(--font-sub-color);
    padding: 5px;
}
.footer{
    text-align: center;
    font-size: var(--font-size--small);
    color: var(--font-80-color);
    padding: 30px 0px;
}