.id {
  font-family: var(--font-montserrat);
  font-weight: 600;
  margin-bottom: 5px;
}
.post {
  color: var(--disabled-font-color);
  font-size: var(--font-size-small);
  margin-bottom: 20px;
}
.moreVert{
    width: 100%;
    height: 24px;
    fill: var(--icon-color);
}


.ul{
    border: 2px solid var(--bg-60-color);
    border-radius: 5px;
    padding: 10px 15px;
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
    margin: 0 auto;
}
.ul::-webkit-scrollbar{
    width: 10px;
}
.ul::-webkit-scrollbar-thumb{
    background-color: var(--bg-60-color);
    border-radius: 5px;
}
.ul::-webkit-scrollbar-button{
    width: 0;
    height: 0;
}