.articleTitle{
    width: 90%;
    margin: 0 auto ;
}
.titleContainer{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}
.h2{
    font-size: var(--font-size-title);
    font-weight: bold;
    color: var(--font-70-color);
}

.modalBtn{
    line-height: 23px;
    font-size: var(--font-size--small);
    color: var(--font-70-color);
    border: 2px solid var(--bg-60-color);
    border-radius: 5px;
    padding: 2px 5px;
}
.modalBtn:hover .icon{
    fill: var(--font-sub-color);
}
.modalBtn:hover{
    background-color: var(--bg-60-color);
    color: var(--font-sub-color);
}
.modalBtn > .icon{
    margin-right: 5px;
}

.ul{
    width: 100%;
    height: 20vh;
    overflow-y: scroll;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 50px;
}
.ul::-webkit-scrollbar{
    width: 10px;
}
.ul::-webkit-scrollbar-thumb{
    background-color: var(--bg-60-color);
    border-radius: 5px;
}
.ul::-webkit-scrollbar-button{
    width: 0;
    height: 0;
}

.li{
    border: 2px solid var(--bg-60-color);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--bg-80-color);
}

.icon{
    width: 24px;
    height: 24px;
    fill: var(--bg-70-color);
}
.moreVert{
    width: 100%;
    height: 24px;
    fill: var(--icon-color);
}
.threadTitle{
    margin-right: 10px;
    font-size: var(--font-size--body);
    font-weight: 700;
    font-family: var(--font-montserrat);
}
.threadTitle > span{
    font-family: var(--font-noto-sans-jp);
}
.threadTitleText{
    font-weight: normal;
}